* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-color: #F8F4E3;
}

.container {
    height: 500px;
    width: 300px;
    position: relative;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    border-radius: 10px;
}

.stories {
    height: 450px;
    width: 290px;
    white-space: nowrap;
    overflow-x: auto;
    position: absolute;
}

.stories::-webkit-scrollbar {
    display: none;
}

.story {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid hsl(6, 79%, 43%);
    margin: 20px 5px 0 0;
    overflow: hidden;
    display: inline-block;
}

.stories img {
    height: 60px;
    width: 60px;
    object-fit: cover;
    object-position: center;
}

.full-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: red;
    display: none;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
