* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 4vw;
    text-align: center;
}

body {
    background-color: #111;
    color: #fff;
}

.element h2 {
    font-size: 3vw;
    margin-left: 50px;
    mix-blend-mode: difference;
}

.element {
    border-bottom: 1px solid green;
    padding-top: 40px;
    position: relative;
}

.element img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #00ADD8;
    opacity: 0;
    position: absolute;
    z-index: -1000;
}